/* Stylesheet for Departmental Web Page. */

/* Load the fonts! */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #4b505a;
  background-color: #fafafa;
}

article {
    font-size: 15px;
    background-color: #ffffff;
    padding: 5px 20px 20px 30px;
    margin: 0px auto 15px;
    /*border-radius: 5px;*/
}


/* Nav display
   Cite: https://www.w3schools.com/css/css_navbar.asp
*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    font-size: 18px;
    /*background-color: #82b1ff;*/
}

nav ul li {
    float: right;
    margin-bottom: 0px;
}

nav li a {
    display: block;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

nav li a:visited {
    color: #eb2344;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    color: #99162c;
    text-decoration: none;
    /*background-color: #eb2344;*/
    border-bottom: 2px solid #aaa;
}


/* Links! */
a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

a:focus, a:hover {
	color: #23527c;
	text-decoration: underline;
}

a, a:visited {
	color: #eb2344;
	text-decoration: none;
	transition: all 0.2s ease-out;
}

a {
    color: #eb2344;
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}


/* Other stuff! */
blockquote {
    margin-left: 0px;
    margin-bottom: 10px;
    padding-left: 15px;
    border-left: solid 4px #ccc;
    color: #555;
}

hr {
    display: block;
    width: 75px;
    margin: 20px auto 20px;
    clear: both;
}


/* Typography! */
h1 {
  font-size: 2em;
  line-height: 110%;
  margin: 1.0rem 0 1.0rem 0;
}

h1.title {
  font-size: 3em;
  text-align: center;
}

h2 {
  font-size: 1.6em;
  line-height: 110%;
  margin: 1.78rem 0 1.424rem 0;
}

h3 {
  font-size: 1.2em;
  line-height: 110%;
  margin: 1.46rem 0 1.168rem 0;
}

h4 {
  font-size: 1.0em;
  line-height: 110%;
  margin: 1.14rem 0 .912rem 0;
}

h5 {
  font-size: 0.75em;
  line-height: 110%;
  margin: .82rem 0 .656rem 0;
}

h6 {
  font-size: 0.6em;
  line-height: 110%;
  margin: .5rem 0 .4rem 0;
}

p {
  margin: 0 0 10px;
}

p.author, p.date {
  margin-bottom: 15px;
}

p.title {
  font-size: 1.5em;
  text-align: center;
}


/* Lists! */
ul {
  list-style-type: circle;
  margin-left: 20px;
}

li {
  margin-bottom: 5px;
}

ol {
  margin-left: 20px;
}


/* Tables!
   Cite: https://www.w3schools.com/Css/css_table.asp
*/
th {
  background-color: #695e4a;
  color: #fff;
}

th, td {
  padding-top: 3px;
  padding-bottom: 3px;
}

tr:hover, tr:nth-child(even):hover {
  background-color: #bdbdbd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td {
  padding-left: 10px;
  padding-right: 10px;
}


/* Mobile Styles */
@media only screen and (max-width: 400px) {
  nav li {
    width: 100%;
  }
  article {
    width: 100%;
    -moz-box-shadow:    none;
    -webkit-box-shadow: none;
    box-shadow:         none;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  article {
    width: 100%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  article {
    width: 960px;
  }
}
